<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_dcD2N-Im3dnI2BWvGuyu8C_UEZOTS6g</string>
	<key>GCM_SENDER_ID</key>
	<string>884030732037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>evidence.Evidence</string>
	<key>PROJECT_ID</key>
	<string>evidenceproject-ef005</string>
	<key>STORAGE_BUCKET</key>
	<string>evidenceproject-ef005.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884030732037:ios:2d6118cde3e7001a32296c</string>
</dict>
</plist>